.navbar {
  --bs-navbar-brand-hover-color: rgba(82, 140, 118, 0.9);
  --bs-navbar-hover-color: rgba(140 82 82 / 90%);
}

.container-fluid {
  flex-direction: row-reverse;
  margin-right: 0;
  width: 100%;
  transition: 1s;
  padding-right: 2rem;
}
.ap-img {
  object-fit: contain;
  width: 15rem;
  transition: 1s;
}

.ap-img:hover {
  transform: scale(1.05, 1.05);
}

.login-container {
  display: flex;
  align-items: center;
}
.navbar-brand {
  color: beige;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  margin: auto 1rem;
  transition: 1s;
}
.navbar-brand:hover {
  transform: scale(1.05, 1.05);
}

.navbar-toggler {
  background-color: rgba(0, 255, 221, 0.089);
}
.nav-link {
  color: beige;
  margin-left: 2rem;
  transition: 1s;
}
.nav-link i {
  color: beige;
  margin-right: 0.5rem;
}
.nav-item:hover {
  transform: scale(1.05, 1.05);
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 770px) {
  .container-fluid {
    flex-direction: column;
  }

  .navbar-toggler {
    margin-top: 1rem;
    width: 100%;
  }

  .login-container {
    justify-content: space-between;
    width: 100%;
  }
  .ap-img {
    height: 11rem;
    object-fit: contain;
    width: 11rem;
  }
}
